* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-image: url(img/img4.jpg);
  background-repeat: unset;
  background-size: unset;
  height: 2000px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*/ESTILOS DA BARRA DE NAVEGAÇÃO*/
.nav {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.lado-esquerdo {
  display: flex;
}

.nav > .lado-esquerdo > div {
  margin-right: 20px;
  font-size: 0.9em;
}

.nav-link {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  text-decoration: none;
}

.nav-nome {
  color: white;
}

.nav-link a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.active-nav-link a {
  color: black !important;
}

/*/estilos projetos*/

.projetos {
  position: relative;
}

.top {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  padding: 30px;
}

.expl {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.python {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  padding: 30px;
}

.projetos_graficos figcaption {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  padding: 50px;
}

.projetos_programação figcaption {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  padding: 50px;
}

.projetos_graficos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

figure {
  position: relative;
  flex-wrap: wrap;
}

.projetos_graficos figure img {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.py img {
  width: 50px;
}

.projetos_programação {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
.projetos_programação figure {
  position: relative;
  flex-wrap: wrap;
}

.projetos_programação figure img {
  background-size: cover;
  background-position: center;
  width: 100%;
}

/*/botão*/

.socialmedia {
  justify-content: center;
  display: flex;
  position: relative;
  grid-template-columns: 1fr 1fr 2fr;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 2rem;
}

.socialmedia a {
  display: flex;
  background: rgba(255, 255, 255, 0.432);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: none;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(97, 97, 97, 0);
  transition: transform 0.5s;
  flex-wrap: wrap;
}

.socialmedia a:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);
  transform: translateY(2px);
}

.socialmedia a:hover {
  transform: scale(0.9);
}

.socialmedia a:hover {
  color: #3b5998;
}
