body {
  background-image: url(img/img4.jpg);
  background-repeat: space;
  background-size: auto;
}

h1 {
  font-family: "Lora", serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 4px;
  padding: 200px 0 100px;
  color: white;
  text-align: center;
}

.socialmedia {
  justify-content: center;
  display: flex;
  position: relative;
  grid-template-columns: 1fr 1fr 2fr;
  flex-wrap: wrap;
}

.socialmedia a {
  display: flex;
  background: rgba(255, 255, 255, 0.432);
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 0 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: none;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(97, 97, 97, 0);
  transition: transform 0.5s;
  flex-wrap: wrap;
}

.socialmedia a i {
  font-size: 35px;
  color: rgba(77, 77, 77, 0.808);
  transition: transform 0.5s;
  flex-wrap: wrap;
}

.socialmedia a:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);
  transform: translateY(2px);
}

.socialmedia a:hover i {
  transform: scale(0.9);
}

.socialmedia a:hover .fa-facebook {
  color: #3b5998;
}
.socialmedia a:hover .fa-twitter {
  color: #00acee;
}
.socialmedia a:hover .fa-instagram {
  color: #f14843;
}
.socialmedia a:hover .fa-github {
  color: #000000;
}
.socialmedia a:hover .fa-linkedin {
  color: #153883;
}

.socialmedia a:hover .fa-artstation {
  color: #19b0ec;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  flex-wrap: wrap;
  text-decoration: none;
}

.lado-esquerdo {
  display: flex;
}

.nav > .lado-esquerdo > div {
  margin-right: 20px;
  font-size: 0.9em;
}

.nav-link {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  text-decoration: none;
}

.nav-nome {
  color: white;
}

.nav-link a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.active-nav-link a {
  color: black !important;
}
