/*/ESTILOS DO SITE*/
body {
  margin: 0px;
  overflow-x: hidden;
  font-family: sans-serif;
  background-image: url(img/img6.jpg);
  overflow: scroll;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*/ESTILOS DA BARRA DE NAVEGAÇÃO*/
.nav {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.lado-esquerdo {
  display: flex;
}

.nav > .lado-esquerdo > div {
  margin-right: 20px;
  font-size: 0.9em;
}

.nav-link {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-nome {
  color: white;
}

.nav-link a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.nav-link a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/*/PORTIFÓLIO ESTILOS*/

.itens-portifolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-portifolio {
  position: relative;
  flex-wrap: wrap;
}

.background-img-port {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}

.img-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110%;
  text-align: center;
  padding-left: 48px;
  padding-right: 10%;
}

.logo {
  width: 50%;
  margin-bottom: 20px;
}

.img-text .subtitulo {
  transition: 1s;
  font-weight: 400;
  font-family: sans-serif;
  color: transparent;
}

.img-text:hover .subtitulo {
  font-weight: 400;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/*/Pagina sobre mim/*/

.sobre-mim-page {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 2fr;
}

.img-perfil img {
  padding: 10px;
  width: 500%;
  margin-left: -40%;
  opacity: 80%;
  border-radius: 10%;
}

.img-perfil {
  padding: 0%;
}

.conteudo-sobre-mim h1 {
  padding: 10px;
  position: absolute;
  justify-content: center;
  padding: 50px;
  color: rgba(255, 255, 255, 0.829);
  top: 40px;
  margin-left: -25%;
}

.conteudo-sobre-mim p {
  padding: 10px;
  font-weight: 600;
  position: absolute;
  justify-content: center;
  padding: 50px;
  color: rgba(255, 255, 255, 0.829);
  top: 140px;
  text-align: justify;
  margin-left: -25%;
}

.imagens-icones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.cada-um-link img {
  display: flex;
  width: 100%;
}
.cada-um-link {
  width: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 0%;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}
